body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(30, 54, 59, 1) 0%,
    rgba(93, 93, 116, 1) 100%
  );
}
.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
pre {
  width: 70%;
  color: #fff;
  font-size: larger
}
button {
  background-color: #6976d9;
  border: #6976d9;
  width: 100%;
  border-radius: 5px;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  margin: 20px 0px;
  padding: 10px;
}
p {
  color: red;
  font-size: 14px;
  font-family: sans-serif;
}
.signup {
  color: rgb(16, 241, 16);
  font-family: sans-serif;
  font-size: 20px;
  height: 40px;
}
label {
  /* color: #3d3d3d; */
  display: block;
  font-family: sans-serif;
  font-size: bold;
  font-weight: 500;
  margin-bottom: 5px;
}
input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
h1 {
  text-align: center;
  height: 50px;
}















